body {
    /* Solid background color */
    /*
       135deg creates the diagonal from top-left.
       #4f46e5 to #7c3aed is an example gradient (Purple/Indigo).
       The sharp line is created by having two colors meet at the same percentage (25%).
    */
    background: #262526 linear-gradient(
            165deg,
            #2c70a2 0%,
            #133e5e 30%,
            #262526 30.1%,
            #262526 80%,
            #133e5e 80.1%,
            #2c70a2 100%
    ) fixed;
    margin: 0;
    height: 100vh;
}

.login-container {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.login-modal {
    background: #0e2d45;
    padding: 2rem;
    border-radius: 8px;
    width: 400px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.login-modal h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #94a3b8;
    align-self: center;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form label {
    margin-bottom: 3px;
}

#login-form input {
    margin-bottom: 10px;
}

#login-form button {
    margin-top: 10px;
}

.form-buttons {
    font-size: 1em;
    margin-top: 5px;
    padding: 5px;
    border-radius: 6px;
    background-color: #2c70a2;
    color: white;
    border: none;
    cursor: pointer;
    width: 30%;
    height: 35px;
    align-self: center;
}

.form-buttons:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}

.login-modal input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #2c70a2;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: inherit;
    background-color: #133e5e;
    color: #94a3b8;
}

input:focus {
    outline: none;
    border-color: #94a3b8;
    transition: border-color 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.9);
}

.login-modal input::placeholder {
    color: #94a3b8;
    opacity: 1;
    transition: color 0.3s ease;
}

.login-modal input:focus::placeholder {
    color: transparent;
}

.login-modal label {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: inherit;
    color: #94a3b8;
}