<div class="sidebar">
    <div class="sidebar-title">
            <img class="sidebar-logo" src="/assets/images/GeminiHelpDeskLogo-Picsart-BackgroundRemover.png" alt="HelpDesk Logo">
    </div>

    <div id="sidebar-content-id" class="sidebar-content">
        <a class="nav-link" href="/index.html">
            <span class="nav-label">Dashboard</span>
        </a>

        <a class="nav-link" href="/pages/ticket-page.html">
            <span class="nav-label">Tickets</span>
        </a>

        <a class="nav-link" href="/pages/user-page.html">
            <span class="nav-label">Users</span>
        </a>

        <a id="settings-link" class="nav-link" href="/pages/settings-page.html">
            <span class="nav-label">Settings</span>
        </a>
    </div>
</div>
